<ion-view title='{{"setting.sync-setting.title" | translate}}'>
    <ion-nav-buttons side="right">
        <div syncup></div>
        <div offline></div>
        <div username></div>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <ion-checkbox ng-repeat="item in syncSettings.SyncSettingPreferences" ng-model="checkedItems[item.position]" ng-change="syncSettings.changeList($index)">
                    {{ item.text }}
                </ion-checkbox>
            </div>
            <div class="list customPadd">
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{"setting.sync-setting.filter" | translate}}
                    </div>
                    <select ng-model="filterValue.value">
                        <option ng-selected="{{item.value == filterValue.value}}" ng-repeat="item in filterValues" value="{{item.value}}">{{item.displayValue}}</option>
                    </select>
                </label>
            </div>

        </div>
        <button class="button button-positive sync-setting-button" ng-click="syncSettings.invokeSyncDownServiceRequest()" ng-disabled="!syncSettings.isListSelected">
            {{"setting.sync-setting.sync" | translate}}
        </button>

        <button class="button button-assertive button-outline sync-setting-button" ng-click="syncSettings.cancelSync()">
            {{"setting.sync-setting.cancel" | translate}}
        </button>
    </ion-content>
</ion-view>
