<ion-view title="{{'quote.add_expense.title' | translate}}">
    <ion-nav-buttons side="right">
        <div syncup></div>
        <div offline></div>
        <div ng-show="expense.isLock">
            <i class="icon ion-ios-locked step size-32" style="color:#5E747F;"></i>
        </div>
    </ion-nav-buttons>
    <ion-content padding="false">
        <div class="add-quote-expense">
            <div class="row detail-top-blue-banner white-btm-border contact-detail">
                <div class="col">
                     <h3 ng-bind="(quoteExpense.expenseId && quoteExpense.expenseId !== 'null') ? ('quote.add_expense.editExpense' | translate) : ('quote.add_expense.cerateExpense' | translate)"></h3>
                </div>
            </div>
            <div class="row contact-detail">
                <div class="col">
                    {{"quote.add_expense.quote" | translate}}: <span ng-bind="quoteExpense.quoteName"></span>
                </div>
            </div>
            <form name="quoteExpense.expenseForm" novalidate="" ng-submit="quoteExpense.expenseSave(quoteExpense.expenseForm)">
                <div class="row">
                    <div class="col images">
                        <select name="type" id="type" class="select_parent_width custom-select" ng-model="quoteExpense.exp.type">
                            <option value="">--Expense Type--</option>
                            <option value="Airfare">Airfare</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Food - Breakfast">Food - Breakfast</option>
                            <option value="Food - Lunch">Food - Lunch</option>
                            <option value="Food - Dinner">Food - Dinner</option>
                            <option value="Gas">Gas</option>
                            <option value="Lodging">Lodging</option>
                            <option value="Mileage">Mileage</option>
                            <option value="Misc">Misc</option>
                            <option value="Parking">Parking</option>
                            <option value="Parts">Parts</option>
                            <option value="Phone">Phone</option>
                            <option value="Rental Cars">Rental Cars</option>
                            <option value="Tolls">Tolls</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                        <div class="col exp-checkbox">
                            <ion-checkbox ng-model="quoteExpense.exp.billable">  </ion-checkbox>
                            <span>{{"quote.add_expense.billable" | translate}}</span>
                        </div>


                        <div class="col exp-checkbox">
                            <ion-checkbox ng-model="quoteExpense.exp.applyWarranty"></ion-checkbox>
                            <span class="apply-warranty"> {{"quote.add_expense.apply_warranty" | translate}} </span>
                        </div>

                    <div class="col">
                        <label class="item-input item-floating-label" ng-class="{ 'has-error' : quoteExpense.expenseForm.amount.$invalid && quoteExpense.expenseForm.amount.$dirty}">
                            <span class="input-label">{{"quote.add_expense.expense-amount" | translate}}</span>
                            <input type="tel" name="amount" ng-required="true" ng-model="quoteExpense.exp.amount" ng-pattern="/^[0-9]+(\.[0-9]{1,7})?$/" required>
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.amount.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.amount.$dirty'>
                            <div class="form-error" ng-message="required">{{"quote.add_expense.this-field-is-required" | translate}} <i class="ion-information-circled"></i> </div>
                            <div class="form-error" ng-message="pattern"> {{"quote.add_expense.invalidNum" | translate}} <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="item-input item-floating-label" ng-class="{ 'has-error' : quoteExpense.expenseForm.discount.$invalid && quoteExpense.expenseForm.discount.$dirty}">
                            <span class="input-label">{{"quote.add_expense.discount" | translate}}</span>
                            <input type="tel" name="discount"  ng-model="quoteExpense.exp.discount" ng-pattern="/^[0-9]+(\.[0-9]{1,7})?$/" >
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.discount.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.discount.$dirty'>
                            <div class="form-error" ng-message="required">{{"quote.add_expense.this-field-is-required" | translate}} <i class="ion-information-circled"></i> </div>
                            <div class="form-error" ng-message="pattern"> I{{"quote.add_expense.invalidNum" | translate}} <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                    <div class="col images">
                        <select name="discountType" id="discountType" class="select_parent_width custom-select" ng-model="quoteExpense.exp.discountType">
                            <option value="">--Discount Type--</option>
                            <option value="Percent">Percent</option>
                            <option value="Amount">Amount</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="item-input item-floating-label">
                            <span class="input-label">{{"quote.add_expense.description" | translate}}</span>
                            <textarea name="description" id="" cols="30" rows="5" ng-model="quoteExpense.exp.description" ng-maxlength="240"></textarea>
                        </label>
                           <div class="form-errors" ng-messages="quoteExpense.expenseForm.description.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.description.$dirty'>
                             <div class="form-error" ng-message="maxlength"> {{"quote.add_expense.the-value-is-too-long" | translate}} <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                </div>
              <!--   <div class="row" ng-if="quoteExpense.expenseId.length > 4 && quoteExpense.expenseId != 'null'">
                    <div class="col">
                        <label class="item-input item-floating-label">
                            <span class="input-label">Reason for Change</span>
                            <textarea name="change_reason" id="" cols="30" rows="5" ng-required="true" ng-model="quoteExpense.exp.change_reason" ng-maxlength="240"></textarea>
                        </label>
                        <div class="form-errors" ng-messages="quoteExpense.expenseForm.change_reason.$error" ng-show='quoteExpense.expenseForm.$submitted || quoteExpense.expenseForm.change_reason.$dirty'>
                            <div class="form-error" ng-message="required">This field is required <i class="ion-information-circled"></i> </div>
                             <div class="form-error" ng-message="maxlength"> The value is too long <i class="ion-information-circled"></i> </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col">
                        <input type="submit" class="button button-positive" value="{{'quote.add_expense.save' | translate}}">
                        <!-- ng-disabled="activity.activityForm.$invalid || activity.activityForm.$pending" -->
                    </div>
                    <div class="col">
                        <div class="button button-outline  button-assertive" ng-click="quoteExpense.takeMeBack()">
                            {{"quote.add_expense.cancel" | translate}}
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
