<ion-view title='{{"workorder.acceptorder.workOrderAcceptance" | translate}}'>
<ion-nav-buttons side="right">
      <div syncup></div>
        <div offline></div>
        <div username></div>
    </ion-nav-buttons>
    <ion-content>
        <div class="row detail-top-blue-banner contact-detail">
            <div class="col col-30">
                <p>{{"workorder.acceptorder.workOrder" | translate}}</p>
                <p ng-bind="::acceptRejectOrder.woName"></p>
            </div>
            <div class="col col-30"></div>
            <div class="col col-30">
                <p>{{"workorder.acceptorder.acceptanceDate" | translate}}</p>
                <b ng-bind="::acceptRejectOrder.currentDate"></b>
            </div>
        </div>
        <div class="woActionButtons">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"workorder.acceptorder.userName" | translate}}</span>
                    <input type="text" placeholder='{{"workorder.acceptorder.enterUserName" | translate}}' ng-model= "acceptRejectOrder.userId" required/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"workorder.acceptorder.password" | translate}}</span>
                    <input type="password" placeholder='{{"workorder.acceptorder.enterPassword" | translate}}' ng-model="acceptRejectOrder.password" required/>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">{{"workorder.acceptorder.signatureComments" | translate}}</span>
                    <input type="text" id="acceptBtnComments" ng-disabled=true ng-model="acceptRejectOrder.signComments" />
                </label>
            </div>
             <button class="button button-block button-positive" ng-click="acceptRejectOrder.isApplicableForWOAcceptReject('AcceptWorkOrder')">{{"workorder.acceptorder.electronicallySign" | translate}}</button>
             <button class="button button-block button-clear button-assertive" ng-click="acceptRejectOrder.clearFields('AcceptWorkOrder')">{{"workorder.acceptorder.clear" | translate}}</button>
        </div>
    </ion-content>
</ion-view>
