<ion-view title='{{"workorder.test_instructionTestNow.instructionTests" | translate}}'>
    <ion-nav-buttons side="right">
        <div syncup></div>
        <div offline></div>
        <span class="step size-32">
        <i class="icon ion-grid" ng-click="testinstruction.popover.show($event)"></i>
    </span>
    </ion-nav-buttons>
    <ion-content>
       
            <ion-list>
                <ion-item ng-repeat="testInstructionTestnow in testinstruction.res | orderBy:'val.Id'">

                    <ion-item ng-repeat="steps in testInstructionTestnow.val | orderBy:'MedConnect__Instruction_Steps__r.MedConnect__Step_Number__c'">
                    <ion-item ng-show="$first" >
                          <h2>{{steps.MedConnect__Instruction_Section__r.Name}}</h2>
                     </ion-item>
                     <ion-item ng-show="$first">
                     <div class="row">
                            <div class="col">{{"workorder.test_instructionTestNow.stepNo" | translate}} </div>
                            <div class="col">{{"workorder.test_instructionTestNow.steps" | translate}} </div>
                            <div class="col">{{"workorder.test_instructionTestNow.result" | translate}} </div>
                        </div>
                     </ion-item>
                        <div class="row">
                            <div class="col">{{steps.MedConnect__Instruction_Steps__r.MedConnect__Step_Number__c}} </div>
                            <div class="col">{{steps.MedConnect__Instruction_Steps__r.MedConnect__Step_Instruction__c}} </div>
                        
                            <div class="col" disablefields resultType="{{steps.MedConnect__Instruction_Steps__r.MedConnect__Result_Type__c}}" options="{{steps.MedConnect__Instruction_Steps__r.MedConnect__Options__c}}" result="steps.MedConnect__Result__c"></div>
                        </div>
                    </ion-item>
                </ion-item>
                
            </ion-list>
           
            <br>
            <div class="card" ng-show="testInstructionTestnow.length == 0">
                <div class="item item-text-wrap">
                    {{"workorder.test_instructionTestNow.noRecordFound" | translate}}
                </div>
            </div>
    </ion-content>
</ion-view>
