<ion-modal-view>
   <ion-header-bar>
       <button ng-click="closeModal()" class="button button-icon icon"> <i class="ion-close size-12" ></i></button>
       <h1 class = "title" style="padding-left: 30px;">{{"workorder.wo_ra_install_BOM.material-bom" | translate}}</h1>
   <!--<h1 class = "title">Material BOM</h1>
      <span ng-click="closeModal()">X</span> -->
   </ion-header-bar>
	
   <ion-content>
      	<ion-list>
      		<ion-item ng-repeat="bom in installAsset.BOMRecords">
      			<div class="row">
              <div class="col">
                <a href="#" ng-click="installAsset.fetchBOM(bom.Id, bom.Name)">{{bom.Name}}</a>
              </div>   
            </div>
      		</ion-item>
  		  </ion-list>

      <div class="card" ng-show="installAsset.BOMRecords.length  == 0">
        <div class="item item-text-wrap">
            <p>{{"workorder.wo_ra_install_BOM.no-material-bom-lookup-found" | translate}}</p>
        </div>
      </div>

   </ion-content>
   
</ion-modal-view>