<ion-view title='{{"workorder.apply_tb.technicalBulletin" | translate}}'>
	<ion-nav-buttons side="right">
    	  <div syncup></div>
        <div offline></div>
        <div username></div>
    </ion-nav-buttons>
    <ion-content>
    	<div class="assign_tool">
    		<ion-list>
        <div>
            <ion-item class="stable" ng-click="assignTool.toggleSuggested()">
              <span class="accordion_hdr">{{"workorder.assign_tool.suggestedTools" | translate}}</span>
              
              <img ng-src="assets/images/dropdown.png" class="downArrow" ng-show="assignTool.isSuggestedOn">
              <img ng-src="assets/images/dropright.png" class="downArrow" ng-show="!assignTool.isSuggestedOn">
            </ion-item>

            <ion-item class="item-accordion" ng-show="assignTool.isSuggestedOn && assignTool.suggestedToolList.length > 0">
              <div class="row assignToolHdr">
                <div class="col col-10"></div>
                <div class="col col-20"><b>{{"workorder.assign_tool.toolID" | translate}}</b></div>
                <div class="col col-30"><b>{{"workorder.assign_tool.toolName" | translate}}</b></div>
                <div class="col col-40"><b>{{"workorder.assign_tool.description" | translate}}</b></div>
              </div>

            <ion-scroll direction="y" style="height:400px">  
              <div class="row" ng-repeat = "list in assignTool.suggestedToolList">
                  <div class="col col-10">
                    <ion-checkbox ng-model="isSuggChecked[$index]" ng-click="toggleSuggestedSel(list)" value={{list}}></ion-checkbox>
                  </div>
                  <div class="col col-20 item-text-wrap">{{list.Name}}</div>
                  <div class="col col-30 item-text-wrap">{{list.MedConnect__Tool_Name__c}}</div>
                  <div class="col col-40 item-text-wrap">{{list.MedConnect__Description__c}}</div>
              </div>
            </ion-scroll>
            </ion-item> 

            <ion-item ng-show="assignTool.isSuggestedOn && assignTool.suggestedToolList.length == 0">
              <div ng-show="assignTool.suggestedToolList.length == 0" class="zeroRecordDiv">
                <div class="item item-text-wrap">
                    {{"workorder.assign_tool.noRecordsFound" | translate}}
                </div>
              </div>
            </ion-item> 

        </div>


        <div>
            <ion-item class="stable" ng-click="assignTool.toggleOthers()">
              <span class="accordion_hdr">{{"workorder.assign_tool.otherTools" | translate}}</span>
              <img ng-src="assets/images/dropdown.png" class="downArrow" ng-show="assignTool.isOthersOn">
              <img ng-src="assets/images/dropright.png" class="downArrow" ng-show="!assignTool.isOthersOn">
            </ion-item>

            <ion-item class="item-accordion" ng-show="assignTool.isOthersOn && assignTool.othersToolList.length > 0">
              <div class="row">
                <div class="col col-10"></div>
                <div class="col col-20"><b>{{"workorder.assign_tool.toolID" | translate}}</b></div>
                <div class="col col-30"><b>{{"workorder.assign_tool.toolName" | translate}}</b></div>
                <div class="col col-40"><b>{{"workorder.assign_tool.description" | translate}}</b></div>
              </div>

              <ion-scroll direction="y" style="height:400px">
                <div class="row" ng-repeat = "list in assignTool.othersToolList">
                    <div class="col col-10">
                      <ion-checkbox ng-model="isOthersChecked[$index]" value={{list}}></ion-checkbox>
                    </div>
                    <div class="col col-20 item-text-wrap">{{list.Name}}</div>
                    <div class="col col-30 item-text-wrap">{{list.MedConnect__Tool_Name__c}}</div>
                    <div class="col col-40 item-text-wrap">{{list.MedConnect__Description__c}}</div>
                </div>
              </ion-scroll>

            </ion-item> 

            <ion-item ng-show="assignTool.isOthersOn && assignTool.othersToolList.length == 0">
              <div ng-show="assignTool.othersToolList.length == 0" class="zeroRecordDiv">
                <div class="item item-text-wrap">
                    {{"workorder.assign_tool.noRecordsFound" | translate}}
                </div>
              </div>
            </ion-item>
        </div>
      </ion-list>

        <div class="row zeroPadd assign_Btns">
          <div class="col zeroPadd">
              <button class="button button-balanced" ng-click="assignTool.AssignSelectedTool()">
                {{"workorder.assign_tool.assign" | translate}}
              </button>
          </div>
          <div class="col zeroPadd">
              <button class="button button-outline  button-assertive" ng-click="assignTool.backToActivityList()">
                {{"workorder.assign_tool.cancel" | translate}}
              </button>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
    	</div>

	</ion-content>
</ion-view>