<ion-modal-view>
    <ion-header-bar>
        <button ng-click="closeModal()" class="button button-icon icon"> <i class="ion-close size-12" ></i></button>
        <h1 class="title">{{"workorder.lookup_assets.select-asset" | translate}}</h1>
    <!--<h1 class="title">Select Asset</h1>
        <span ng-click="closeModal()">X</span> -->
	</ion-header-bar>
    <ion-content>
        <div class="bar bar-header item-input-inset" style="position: relative;">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="{{'workorder.lookup_assets_uninstall.paceholder' | translate}}" ng-model="uninstallAsset.searchassetname">
            </label>
            <i class="icon ion-close-round" ng-click="uninstallAsset.searchassetname = ''" ng-show="uninstallAsset.searchassetname.length > 0" style="position: absolute;top: 6px;"></i>
            <button class="button button-positive" ng-click="uninstallAsset.searchAsset();">
                Search
            </button>
        </div>
        <div class="card" ng-if="uninstallAsset.searchAssetError">
            <div class="item item-text-wrap">
                {{uninstallAsset.searchAssetError}}
            </div>
        </div>
        <ion-list ng-if="uninstallAsset.Assets">
            <ion-item>
                <div class="row">
                    <div class="col item-text-wrap"><b>{{"workorder.lookup_assets_uninstall.asset-name" | translate}}</b></div>
                    <div class="col item-text-wrap"><b>{{"workorder.lookup_assets_uninstall.serial-no" | translate}}</b></div>
                    <div class="col item-text-wrap"><b>{{"workorder.lookup_assets_uninstall.product" | translate}}</b></div>
                    <!-- <div class="col item-text-wrap"><b>Location Account</b></div> -->
                    <div class="col item-text-wrap"><b>{{"workorder.lookup_assets_uninstall.lot-number" | translate}}</b></div>
                    <div class="col item-text-wrap"><b>{{"workorder.lookup_assets_uninstall.batch-number" | translate}}</b></div>
                    <!-- <div class="col item-text-wrap"><b>Installed Date</b></div>
                    <div class="col item-text-wrap"><b>Installed By</b></div> -->
                </div>
            </ion-item>
            <ion-item ng-repeat="asset in uninstallAsset.Assets">
                <div class="row ">
                    <div class="col item-text-wrap ">
                        <a href="# " ng-click="uninstallAsset.selectAsset(asset.Id, asset.Name) ">{{asset.Name}}</a>
                    </div>
                    <div class="col item-text-wrap ">
                        {{asset.MedConnect__Serial_No__c}}
                    </div>
                    <div class="col item-text-wrap ">
                        {{asset.MedConnect__Product__r.Name}}
                    </div>
                    <div class="col item-text-wrap ">
                        {{asset.MedConnect__Lot_Master1__r.Name}}
                    </div>
                    <div class="col item-text-wrap ">
                        {{asset.MedConnect__Batch_Master__r.Name}}
                    </div>
                   <!--  <div class="col item-text-wrap ">
                        {{asset.MedConnect__Installed_Date__c}}
                    </div>
                    <div class="col item-text-wrap ">
                        {{asset.MedConnect__Installed_By__r.Name}}
                    </div> -->
                </div>
            </ion-item>
        </ion-list>
        <div class="card" ng-show="uninstallAsset.no_asset">
            <div class="item item-text-wrap">
                <p>{{"workorder.lookup_assets_uninstall.no-records-found" | translate}}</p>
            </div>
    </ion-content>
</ion-modal-view>