<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="testinstruction.popover.hide()">
          
            <a class="item" href="#/app/testinstructiontest/{{testinstruction.Id}}" ><i class="icon ion-android-add-circle"></i> {{"workorder.testInstruction_popover.testNow" | translate}}</a>
            <a class="item" ng-click="testinstruction.completeTestinstruction()"> <i class="icon ion-android-add-circle"></i> {{"workorder.testInstruction_popover.complete" | translate}}</a>              
        </div>
    </ion-content>
</ion-popover-view>