<ion-modal-view style="width:94%; left: 3%; right: 3%;">
   <ion-header-bar>
      <h1 class = "title">Inventory Locations</h1>
      <span ng-click="closeModal()">X</span>
   </ion-header-bar>
	
   <ion-content>

        <div class="searchDivBox">  
          <label class="item-input-wrapper textbox-search searchDivBox">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder='Search Inventory' ng-model="srcInvSearch" class="search-input">
          </label>
          <i class="icon ion-close-round search-cross" ng-click="srcInvSearch = ''" ng-show="srcInvSearch.length > 0"></i>
        </div>

      	<ion-list>
          <ion-item>
            <div class="row">
                <div class="col item-text-wrap"><b>Inventory Id</b></div>
                <div class="col item-text-wrap"><b>Inventory Name</b></div>
                <div class="col item-text-wrap"><b>Owner(Technician)</b></div>
                <div class="col item-text-wrap"><b>Technician User</b></div>
                <div class="col item-text-wrap"><b>Location</b></div>
            </div> 
          </ion-item>
      		<ion-item ng-repeat="Inventory in neworderitem.inv_locs |filter:srcInvSearch| orderBy: 'Name'"">
      			<div class="row">
              <div class="col item-text-wrap">
                <a href="#" ng-click="neworderitem.selectCurrentInventory(Inventory.Id, Inventory.Name)">{{Inventory.Name}}</a>
              </div>
              
              <div class="col item-text-wrap">
                {{Inventory.MedConnect__Inventory_Name__c}}
              </div> 
 
              <div class="col item-text-wrap">
                {{Inventory.MedConnect__Owner_Technician__r.Name}}
              </div>  

              <div class="col item-text-wrap">
                {{Inventory.MedConnect__Technician_User__c}}
              </div>  

              <div class="col item-text-wrap">
                {{Inventory.MedConnect__Location__r.Name}}
              </div>  

            </div>
      		</ion-item>
  		  </ion-list>

      <div class="card" ng-show="neworderitem.inv_locs.length == 0">
        <div class="item item-text-wrap">
            <p>No inventory found</p>
        </div>
      </div>

   </ion-content>
   
</ion-modal-view>