<ion-popover-view>
    <ion-content>
        <div class="list" ng-click="singleOrder.popover.hide()">
            <a class="item" ng-click="singleOrder.editOrder()"        
            ><i class="icon ion-edit"></i> Edit</a>
            <a class="item" ng-click="singleOrder.addLineItem()"><i class="icon ion-android-add-circle"></i> Order Line Item</a>
        </div>
    <!-- href="#/app/add-order/{{singleOrder.orderId}}/{{singleOrder.orderStatus}}/{{singleOrder.orderReason}}" -->
    </ion-content>
</ion-popover-view>
