.searchDivBox1 {
    .item-input-wrapper {
        background: none;
    }
}

.inv-bar-header {
    .ion-close-round {
        margin-left: -8%;
    }
}

label.item-input-wrapper.textbox-search.searchDivBox {
    width: 100%;
    display: inline-flex;
}

.wid-92 {
	width: 92% !important;
}
.ion-record {
	display:none;
}